In [21]:
import pandas as pd

In [22]:
people={
    "firstname":['raafa','mike','john','raafa'],
    "age":["30","28","17","33"],
    "email":["raafa@gmail.com", "mike@gmail.com","john@gmail.com","raafaamri@gmail.com"],
    "country":["USA","Canada","florida","brasil"]
}

In [23]:
df2=pd.DataFrame(people)
df2

  firstname age                email  country
0     raafa  30      raafa@gmail.com      USA
1      mike  28       mike@gmail.com   Canada
2      john  17       john@gmail.com  florida
3     raafa  33  raafaamri@gmail.com   brasil

In [26]:
#sorting data by age 
df2.sort_values(by='age')

  firstname age                email  country
2      john  17       john@gmail.com  florida
1      mike  28       mike@gmail.com   Canada
0     raafa  30      raafa@gmail.com      USA
3     raafa  33  raafaamri@gmail.com   brasil

In [25]:
#sorting data descending by age
df2.sort_values(by='age', ascending=False)

  firstname age                email  country
3     raafa  33  raafaamri@gmail.com   brasil
0     raafa  30      raafa@gmail.com      USA
1      mike  28       mike@gmail.com   Canada
2      john  17       john@gmail.com  florida

In [27]:
#sorting data descending by firstname and country, in this exemple we have 2 users that have the same firsname
#so in this case we sort by country 
df2.sort_values(by=['firstname','country'],ascending=False)

  firstname age                email  country
3     raafa  33  raafaamri@gmail.com   brasil
0     raafa  30      raafa@gmail.com      USA
1      mike  28       mike@gmail.com   Canada
2      john  17       john@gmail.com  florida